body {
  display: flex;
  flex-direction: column;
  background-image: url(./images/back-img.jpg);
  background-color: black;
  background-size: 60%;
}

@media (max-height: 680) {
  body {
    background-size: cover;
  }
}

.container-header {
  background-color: black;
}

.im-fell-english-sc-regular {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xxx-large;
}

.nav-item {
  font-weight: 700;
  font-size: large; 
}

.container-main {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: gray;
  padding: 50px;
}

.container-footer {
  color: gray;
  width: 100vw;
  padding: 10px;
  text-align: center;
  background-color: black;
  position: fixed;
  bottom: 0;
}

/* Styling for About Page */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 50px;
  align-self: center;
  overflow: auto;
}

.card {
  background-color: black;
  color: lightgray;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-bottom: 30px;
  
}

.title {
  background-color: black;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
  color: gray;
  text-align: center;
  padding: 20px;
}

.mark {
  grid-column: 1;
  justify-self: end;
}

.sam {
  grid-column: 2;
  justify-self: start;
}

.img {
  height: 550px;
  width: 470px;
  justify-items: center;
  margin: 20px;
}