body {
  display: flex;
  flex-direction: column;
  background-image: url(./images/back-img.jpg);
  background-color: black;
  background-size: 60%;
  background-attachment: fixed;
}

.container-header {
  background-color: black;
}

.im-fell-english-sc-regular {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xxx-large;
}

.arsenal-sc-regular {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  padding: 20px
}

.nav-item {
  font-weight: 700;
  font-size: large; 
}

.container-main {
  margin: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  background-color: black;
  color: gray;
  padding: 10px;
  width:fit-content;
}

.container-footer {
  color: gray;
  width: 100vw;
  padding: 10px;
  text-align: center;
  background-color: black;
  position: fixed;
  bottom: 0;
  font-size: medium;
}

/* Styling for About Page */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 50px;
  align-self: center;

}

.card {
  background-color: black;
  color: lightgray;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-bottom: 30px;
  
}

.title {
  background-color: black;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 80px;
  color: gray;
  text-align: center;
  padding: 20px;
}

.mark {
  grid-column: 1;
  justify-self: end;
}

.sam {
  grid-column: 2;
  justify-self: start;
}

.img {
  height: 550px;
  width: 470px;
  justify-items: center;
  margin: 20px;
}

.carousel {
  margin: 20px;
}

.divider {
  width: 400px;
}

@media screen and (max-width: 680px) {
  body {
    background-size: 100%;
    background-attachment: fixed;
  }

  .divider {
    width: 250px;
    margin-bottom: 20px;
  }

  .container-main {
    margin: 30px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
  }

  .im-fell-english-sc-regular {
    font-size: xx-large;
  }

  .arsenal-sc-regular {
    font-size: x-large;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-self: center;
  }

  .card {
    width: 350px;
  }

  .sam {
    grid-column: 1;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 30px;
    align-content: center;
  }

  .mark {
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .img {
    width: 300px;
    height: auto;
  }
}